<main class="container d-flex flex-column min-vh-100">
    <div class="row d-flex flex-wrap justify-content-center">
        <div class="col-8 col-lg-4 d-flex justify-content-around mb-5 my-5">
            <img style="height: 100%; max-width: 100%;" class="border border-dark img-fluid" src="assets/close-up-businessman-with-digital-tablet.jpg" alt="gestão">
        </div>
        <div class="col-8 col-lg-5 mb-5 my-5 align-self-center">
            <div class="d-flex flex-column align-self-center">
                <h1>Bem-vindo à nossa <span class="text-info">ferramenta</span> de negócio.</h1>
                <p class="lead text-start fw-normal fs-3">Simplifique os seus processos com a nossa plataforma.</p>
                <!-- <p class="fs-5">Bem-vindo à nossa ferramenta de negócio. Simplifique os seus processos com a nossa plataforma.</p> -->
            </div>
        </div>
    </div>
    <div class="row d-flex flex-wrap justify-content-center">
        <div class="col d-flex justify-content-around flex-wrap mb-5 my-5">
            <div class="icon-people text-center">
                <i class="bi bi-people fs-1"></i>
                <p class="lead fs-4">Consulte clientes ou fornecedores</p>
            </div>
            <div class="icon-price text-center">
                <i class="bi bi-tags fs-1"></i>
                <p class="lead fs-4">Consulte preços de produtos</p>
            </div>
            <div class="icon-document text-center">
                <i class="bi bi-file-earmark-check fs-1"></i>
                <p class="lead fs-4">Crie documentos de vendas</p>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center my-3">
        <div class="col-10 col-lg-6 mb-5">
            <div class="carousel slide" id="carrusel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/clients-business.jpg" class="w-100 border border-dark" alt="Imagen 2">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/document-sales.jpg" class="w-100 border border-dark"  alt="Imagen 1">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/stats.jpg" class="w-100 border border-dark" alt="Imagen 3">
                    </div>
                </div>
                <!-- Controles de anterior y siguiente -->
                 <button 
                 class="carousel-control-prev" 
                 type="button"
                 data-bs-target="#carrusel"
                 data-bs-slide="prev"
                 >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>

                 </button>
                 <button 
                 class="carousel-control-next" 
                 type="button"
                 data-bs-target="#carrusel"
                 data-bs-slide="next"
                 >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>

                 </button>
                 <!-- Indicadores -->
                  <div class="carousel-indicators">
                    <button
                    type="button"
                    data-bs-target="#carrusel"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide #1"
                    ></button>

                    <button
                    type="button"
                    data-bs-target="#carrusel"
                    data-bs-slide-to="1"
                    class="active"
                    aria-current="true"
                    aria-label="Slide #2"
                    ></button>

                    <button
                    type="button"
                    data-bs-target="#carrusel"
                    data-bs-slide-to="2"
                    class="active"
                    aria-current="true"
                    aria-label="Slide #3"
                    ></button>
                  </div>
            </div>
        </div>
    </div>
</main>